streamlit                                                 
pandas                                                    
matplotlib                                     
seaborn 
Groq
translatepy
SpeechRecognition
nltk
nltk.corpus 
nltk.stem
nltk.tokenize
